In [211]:
#Importação das bibliotecas necessárias
import pandas as pd

from sklearn import tree
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split

In [212]:
#Método que irá gerar métrica para classificação das casas
def house_class(n):
    if (n<-0.5):
        return 0
    elif (n<0.5):
        return 1
    else:
        return 2

In [213]:
#Leitura do csv com as informações das casas
data = pd.read_csv('kc_house_data.csv', sep=',')

print(data)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [214]:
#Filtragem dos dados pelo zipcode
filtered_data = data.query('zipcode==98008')
filtered_data = filtered_data.reset_index(drop=True)

print(filtered_data)

             id             date      price  bedrooms  bathrooms  sqft_living  \
0    7922800400  20140827T000000   951000.0         5       3.25         3250
1    4036801170  20141013T000000   380000.0         4       1.75         1760
2    8857320070  20140917T000000   490000.0         3       2.75         1980
3    7375300160  20150309T000000   530000.0         5       2.25         2720
4    4040800810  20140502T000000   420000.0         3       2.25         2000
..          ...              ...        ...       ...        ...          ...
278   224059021  20141219T000000   450000.0         3       1.00         1150
279  8563010130  20140725T000000  1300000.0         3       2.50         3350
280  8043700105  20150417T000000  2300000.0         4       4.00         4360
281  7430500110  20141209T000000  1378000.0         5       3.50         5150
282  9253900271  20150107T000000  3567000.0         5       4.50         4850

     sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0       14342     2.0           0     4  ...      8        3250
1        7300     1.0           0     0  ...      7         880
2        3128     2.0           0     0  ...      9        1980
3        8800     1.0           0     0  ...      7        1500
4        8030     1.0           0     0  ...      8        1000
..        ...     ...         ...   ...  ...    ...         ...
278     35415     1.0           0     0  ...      7        1010
279      7752     1.0           0     0  ...      9        2180
280      8175     2.5           1     4  ...     10        3940
281     12230     2.0           0     2  ...     10        3700
282     10584     2.0           1     4  ...     10        3540

     sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                0      1968             0    98008  47.5880 -122.116
1              880      1956             0    98008  47.6034 -122.125
2                0      1979             0    98008  47.6109 -122.114
3             1220      1958             0    98008  47.5976 -122.118
4             1000      1963             0    98008  47.6188 -122.114
..             ...       ...           ...      ...      ...      ...
278            140      1950             0    98008  47.5974 -122.129
279           1170      2009             0    98008  47.6263 -122.099
280            420      2007             0    98008  47.5724 -122.104
281           1450      2007             0    98008  47.6249 -122.090
282           1310      2007             0    98008  47.5943 -122.110

     sqft_living15  sqft_lot15
0             2960       11044
1             1680        7500
2             1950        2856
3             2110        8800
4             2070        8250
..             ...         ...
278           2460       11781
279           2570        7988
280           2670        8525
281           2940       13462
282           3470       18270

[283 rows x 21 columns]

In [215]:
#criando coluna com preço/metro²
filtered_data ['price_sqft'] = filtered_data['price']/filtered_data['sqft_living']

print(filtered_data)

             id             date      price  bedrooms  bathrooms  sqft_living  \
0    7922800400  20140827T000000   951000.0         5       3.25         3250
1    4036801170  20141013T000000   380000.0         4       1.75         1760
2    8857320070  20140917T000000   490000.0         3       2.75         1980
3    7375300160  20150309T000000   530000.0         5       2.25         2720
4    4040800810  20140502T000000   420000.0         3       2.25         2000
..          ...              ...        ...       ...        ...          ...
278   224059021  20141219T000000   450000.0         3       1.00         1150
279  8563010130  20140725T000000  1300000.0         3       2.50         3350
280  8043700105  20150417T000000  2300000.0         4       4.00         4360
281  7430500110  20141209T000000  1378000.0         5       3.50         5150
282  9253900271  20150107T000000  3567000.0         5       4.50         4850

     sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0       14342     2.0           0     4  ...        3250              0
1        7300     1.0           0     0  ...         880            880
2        3128     2.0           0     0  ...        1980              0
3        8800     1.0           0     0  ...        1500           1220
4        8030     1.0           0     0  ...        1000           1000
..        ...     ...         ...   ...  ...         ...            ...
278     35415     1.0           0     0  ...        1010            140
279      7752     1.0           0     0  ...        2180           1170
280      8175     2.5           1     4  ...        3940            420
281     12230     2.0           0     2  ...        3700           1450
282     10584     2.0           1     4  ...        3540           1310

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0        1968             0    98008  47.5880 -122.116           2960
1        1956             0    98008  47.6034 -122.125           1680
2        1979             0    98008  47.6109 -122.114           1950
3        1958             0    98008  47.5976 -122.118           2110
4        1963             0    98008  47.6188 -122.114           2070
..        ...           ...      ...      ...      ...            ...
278      1950             0    98008  47.5974 -122.129           2460
279      2009             0    98008  47.6263 -122.099           2570
280      2007             0    98008  47.5724 -122.104           2670
281      2007             0    98008  47.6249 -122.090           2940
282      2007             0    98008  47.5943 -122.110           3470

     sqft_lot15  price_sqft
0         11044  292.615385
1          7500  215.909091
2          2856  247.474747
3          8800  194.852941
4          8250  210.000000
..          ...         ...
278       11781  391.304348
279        7988  388.059701
280        8525  527.522936
281       13462  267.572816
282       18270  735.463918

[283 rows x 22 columns]

In [217]:
#cálculo para zscore
avg_prc = filtered_data['price_sqft'].mean()
print(avg_prc)
std_prc = filtered_data['price_sqft'].std()
print(std_prc)

zscore = (filtered_data['price_sqft'] - avg_prc) / std_prc

#adicionando coluna do zscore
filtered_data['zscore'] = zscore

print(filtered_data)

301.71773117246244
81.21573847793498
             id             date      price  bedrooms  bathrooms  sqft_living  \
0    7922800400  20140827T000000   951000.0         5       3.25         3250
1    4036801170  20141013T000000   380000.0         4       1.75         1760
2    8857320070  20140917T000000   490000.0         3       2.75         1980
3    7375300160  20150309T000000   530000.0         5       2.25         2720
4    4040800810  20140502T000000   420000.0         3       2.25         2000
..          ...              ...        ...       ...        ...          ...
278   224059021  20141219T000000   450000.0         3       1.00         1150
279  8563010130  20140725T000000  1300000.0         3       2.50         3350
280  8043700105  20150417T000000  2300000.0         4       4.00         4360
281  7430500110  20141209T000000  1378000.0         5       3.50         5150
282  9253900271  20150107T000000  3567000.0         5       4.50         4850

     sqft_lot  floors  waterfront  view  ...  sqft_basement  yr_built  \
0       14342     2.0           0     4  ...              0      1968
1        7300     1.0           0     0  ...            880      1956
2        3128     2.0           0     0  ...              0      1979
3        8800     1.0           0     0  ...           1220      1958
4        8030     1.0           0     0  ...           1000      1963
..        ...     ...         ...   ...  ...            ...       ...
278     35415     1.0           0     0  ...            140      1950
279      7752     1.0           0     0  ...           1170      2009
280      8175     2.5           1     4  ...            420      2007
281     12230     2.0           0     2  ...           1450      2007
282     10584     2.0           1     4  ...           1310      2007

     yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15  \
0               0    98008  47.5880 -122.116           2960       11044
1               0    98008  47.6034 -122.125           1680        7500
2               0    98008  47.6109 -122.114           1950        2856
3               0    98008  47.5976 -122.118           2110        8800
4               0    98008  47.6188 -122.114           2070        8250
..            ...      ...      ...      ...            ...         ...
278             0    98008  47.5974 -122.129           2460       11781
279             0    98008  47.6263 -122.099           2570        7988
280             0    98008  47.5724 -122.104           2670        8525
281             0    98008  47.6249 -122.090           2940       13462
282             0    98008  47.5943 -122.110           3470       18270

     price_sqft    zscore
0    292.615385 -0.112076
1    215.909091 -1.056552
2    247.474747 -0.667888
3    194.852941 -1.315814
4    210.000000 -1.129310
..          ...       ...
278  391.304348  1.103070
279  388.059701  1.063119
280  527.522936  2.780313
281  267.572816 -0.420422
282  735.463918  5.340667

[283 rows x 23 columns]

In [218]:
#aplicando o zscore para criação da coluna de avaliação
filtered_data['pricing'] = filtered_data['zscore'].apply(house_class)

print(filtered_data)

#salva arquivo csv filtrado e tratado
filtered_data.to_csv(r'filtered_data.csv', index=False)

#lista dos 10 ultimos valores
aval_data = filtered_data.tail(10)

print(aval_data)

#salva arquivo csv
aval_data.to_csv(r'aval_data.csv', index=False)

             id             date      price  bedrooms  bathrooms  sqft_living  \
0    7922800400  20140827T000000   951000.0         5       3.25         3250
1    4036801170  20141013T000000   380000.0         4       1.75         1760
2    8857320070  20140917T000000   490000.0         3       2.75         1980
3    7375300160  20150309T000000   530000.0         5       2.25         2720
4    4040800810  20140502T000000   420000.0         3       2.25         2000
..          ...              ...        ...       ...        ...          ...
278   224059021  20141219T000000   450000.0         3       1.00         1150
279  8563010130  20140725T000000  1300000.0         3       2.50         3350
280  8043700105  20150417T000000  2300000.0         4       4.00         4360
281  7430500110  20141209T000000  1378000.0         5       3.50         5150
282  9253900271  20150107T000000  3567000.0         5       4.50         4850

     sqft_lot  floors  waterfront  view  ...  yr_built  yr_renovated  zipcode  \
0       14342     2.0           0     4  ...      1968             0    98008
1        7300     1.0           0     0  ...      1956             0    98008
2        3128     2.0           0     0  ...      1979             0    98008
3        8800     1.0           0     0  ...      1958             0    98008
4        8030     1.0           0     0  ...      1963             0    98008
..        ...     ...         ...   ...  ...       ...           ...      ...
278     35415     1.0           0     0  ...      1950             0    98008
279      7752     1.0           0     0  ...      2009             0    98008
280      8175     2.5           1     4  ...      2007             0    98008
281     12230     2.0           0     2  ...      2007             0    98008
282     10584     2.0           1     4  ...      2007             0    98008

         lat     long  sqft_living15  sqft_lot15  price_sqft    zscore  \
0    47.5880 -122.116           2960       11044  292.615385 -0.112076
1    47.6034 -122.125           1680        7500  215.909091 -1.056552
2    47.6109 -122.114           1950        2856  247.474747 -0.667888
3    47.5976 -122.118           2110        8800  194.852941 -1.315814
4    47.6188 -122.114           2070        8250  210.000000 -1.129310
..       ...      ...            ...         ...         ...       ...
278  47.5974 -122.129           2460       11781  391.304348  1.103070
279  47.6263 -122.099           2570        7988  388.059701  1.063119
280  47.5724 -122.104           2670        8525  527.522936  2.780313
281  47.6249 -122.090           2940       13462  267.572816 -0.420422
282  47.5943 -122.110           3470       18270  735.463918  5.340667

     pricing
0          1
1          0
2          0
3          0
4          0
..       ...
278        2
279        2
280        2
281        1
282        2

[283 rows x 24 columns]
             id             date      price  bedrooms  bathrooms  sqft_living  \
273  8563001130  20140828T000000   654000.0         5       2.50         2960
274  7376300085  20150505T000000   530000.0         3       1.75         1430
275  7430500301  20141016T000000   700000.0         3       1.50         2240
276  7751800115  20140826T000000   425000.0         3       1.50         1390
277  4038600300  20140902T000000   650000.0         4       3.00         2900
278   224059021  20141219T000000   450000.0         3       1.00         1150
279  8563010130  20140725T000000  1300000.0         3       2.50         3350
280  8043700105  20150417T000000  2300000.0         4       4.00         4360
281  7430500110  20141209T000000  1378000.0         5       3.50         5150
282  9253900271  20150107T000000  3567000.0         5       4.50         4850

     sqft_lot  floors  waterfront  view  ...  yr_built  yr_renovated  zipcode  \
273      8968     1.0           0     0  ...      1965             0    98008
274     10350     1.0           0     0  ...      1959             0    98008
275      7227     2.0           0     1  ...      1977             0    98008
276      9680     1.0           0     0  ...      1956             0    98008
277     15535     1.0           0     2  ...      1961             0    98008
278     35415     1.0           0     0  ...      1950             0    98008
279      7752     1.0           0     0  ...      2009             0    98008
280      8175     2.5           1     4  ...      2007             0    98008
281     12230     2.0           0     2  ...      2007             0    98008
282     10584     2.0           1     4  ...      2007             0    98008

         lat     long  sqft_living15  sqft_lot15  price_sqft    zscore  \
273  47.6233 -122.102           1890        9077  220.945946 -0.994534
274  47.6353 -122.123           1890       10350  370.629371  0.848501
275  47.6208 -122.093           3150       16150  312.500000  0.132761
276  47.6340 -122.125           1460       10050  305.755396  0.049715
277  47.6120 -122.119           2330       10217  224.137931 -0.955231
278  47.5974 -122.129           2460       11781  391.304348  1.103070
279  47.6263 -122.099           2570        7988  388.059701  1.063119
280  47.5724 -122.104           2670        8525  527.522936  2.780313
281  47.6249 -122.090           2940       13462  267.572816 -0.420422
282  47.5943 -122.110           3470       18270  735.463918  5.340667

     pricing
273        0
274        2
275        1
276        1
277        0
278        2
279        2
280        2
281        1
282        2

[10 rows x 24 columns]

In [207]:
#criação da árvore
dec_tree = tree.DecisionTreeClassifier(min_samples_leaf=10, min_impurity_decrease=0.001, min_samples_split=20)
x = filtered_data[['bedrooms', 'bathrooms', 'floors', 'view', 'condition']]
y = filtered_data['pricing']
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2)
dec_tree.fit(x_train, y_train)


with open("decision_tree.dot", 'w') as f:
    f = tree.export_graphviz(dec_tree, out_file=f, feature_names=x.columns, rounded=True, filled=True, special_characters=True)
print('.dot gerado')

.dot gerado

In [208]:
#Teste de accuracy
predictions=dec_tree.predict(x_test)
print(accuracy_score(y_test,predictions))

0.543859649122807

In [209]:
#Comparação das 10 últimas casas da lista

predict = list(dec_tree.predict(x[-10:]))
print(predict)

ten_last = list(filtered_data['pricing'][-10:])
print(ten_last)

[0, 1, 1, 1, 1, 2, 0, 2, 1, 2]
[0, 2, 1, 1, 0, 2, 2, 2, 1, 2]